@{
    ViewData["Title"] = "Order complete";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Order complete!</h1>
    <a asp-action="OrderInvoice" id="print">Click here to download order invoice</a>
</div>