<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Knygnešys"
        android:supportsRtl="true"
        android:theme="@style/Theme.Knygnesys"
        tools:targetApi="31">
        <activity
            android:name=".admin.EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".worker.AddBookActivity"
            android:exported="false" />
        <activity
            android:name=".worker.EditBookActivity"
            android:exported="false" />
        <activity
            android:name=".worker.ViewBooksListActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminControlUsersActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminControlActivity"
            android:exported="true" />
        <activity
            android:name=".worker.CompleteOrdersActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCnCO7C9ONC15ae0WoWQO2kYlcbZABT0XI" />

        <activity
            android:name=".worker.ViewOrderActivity"
            android:exported="false" />
        <activity
            android:name=".worker.IncomingOrdersActivity"
            android:exported="true" />
        <activity
            android:name=".courier.DoingOrders"
            android:exported="false" />
        <activity
            android:name=".courier.ViewOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".courier.CourierProfileActivity"
            android:exported="false" />
        <activity
            android:name=".register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".client.ClientMainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".client.CartActivity"
            android:exported="false" />
        <activity
            android:name=".client.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".client.UserProfile"
            android:exported="false" />
        <activity
            android:name=".client.ViewBooksActivity"
            android:exported="false" />
        <activity
            android:name=".client.FirstActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".client.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>