@model Elektrom.Models.PrekesVM

@{
    ViewData["Title"] = "Create";
}

<h4>Prekės pridėjimas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="image" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="prekes.Pavadinimas" class="control-label"></label>
                <input asp-for="prekes.Pavadinimas" class="form-control" />
                <span asp-validation-for="prekes.Pavadinimas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prekes.Kiekis" class="control-label"></label>
                <input asp-for="prekes.Kiekis" class="form-control" />
                <span asp-validation-for="prekes.Kiekis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prekes.Aprasymas" class="control-label">Aprašymas</label>
                <input asp-for="prekes.Aprasymas" class="form-control" />
                <span asp-validation-for="prekes.Aprasymas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kainos.Kaina" class="control-label"></label>
                <input asp-for="kainos.Kaina" class="form-control" min="0" />
                <span asp-validation-for="kainos.Kaina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sukurti" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Grįžti atgal</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}